
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.algn-rght{
  position: absolute;
  right: 1rem;
}

.sz-lw{
  font-size: 1rem !important;
}
